# Python bytecode
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Environment and local settings
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
local_settings.py

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Distribution / packaging
*.egg-info/
.installed.cfg
*.egg